body nav {
  margin-bottom: 2%;
}

div nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.container {
  margin-bottom: 3%;
}

.col-3 .container:nth-child(2) {
  margin-top: 10%;
}

.topicblock {
  margin-bottom: 2%;
}

.purple {
  background-color: rgba(173, 91, 255, 0.5);
}

.blue {
  background-color: rgba(66, 255, 255, 0.5);
}

.green {
  background-color: rgba(66, 255, 66, 0.5);
}

.yellow {
  background-color: rgba(255, 255, 66, 0.5);
}

.orange {
  background-color: rgba(255, 160, 66, 0.5);
}

.red {
  background-color: rgba(255, 66, 66, 0.5);
}

.pink {
  background-color: rgba(255, 91, 255, 0.5);
}

.darkblue {
  background-color: rgba(72, 163, 254, 0.5);
}
