body nav {
  margin-bottom: 2%;
}

div nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.container {
  margin-bottom: 3%;
}

.col-3 .container:nth-child(2) {
  margin-top: 10%;
}

.topicblock {
  margin-bottom: 2%;
}

.optimization_col {
  background-color: rgba(173, 91, 255, 0.5);
}

.statistics_col {
  background-color: rgba(66, 255, 255, 0.5);
}

.classification_col {
  background-color: rgba(66, 255, 66, 0.5);
}

.entrepreneurship_col {
  background-color: rgba(255, 66, 66, 0.5);
}

.natural_language_processing_col {
  background-color: rgba(255, 255, 66, 0.5);
}

.intelligent_systems_col {
  background-color: rgba(255, 160, 66, 0.5);
}


.data_research_col {
  background-color: rgba(255, 91, 255, 0.5);
}

.system_modelling_col {
  background-color: rgba(72, 163, 254, 0.5);
}

.select_col{
  background-color: #f8f9fa;
}

.display_keywords {
  text-align: center;
}

.hidden{
  display: none;
}
